@font-face {
  font-family: Lato;
  src: url(./Lato-Light.woff2) format('woff2');
}

body, html {
  padding: 0;
  margin: 0;
  color: #212529;
  background-color: #000;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #007bff;
  padding: 6px 12px;
  font-family: inherit;
  font-size: .75rem;
  font-weight: 400;
  color: #eee;
  border-radius: 3px;
  border: 1px solid transparent; 
  transition: all ease-in-out .15s;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.container {
  width: 80vw;
  margin: auto;
  padding: 10px 0;
  max-width: 980px;
}

.floaty {
  margin: 10px 0;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.post {
  transition: all ease-in-out .1s;
}

.slide-up {
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading {
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin: auto;
  width: 32px;
  height: 32px;
  transition: all ease-in-out .7s;
  animation: slide-up 0.4s ease;
}

.loading > div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #e9ecef;
  animation: spin 1s ease-in infinite;
  transition: all linear 3s;
}

@keyframes spin {
  0% {
    transform: perspective(200px) rotateX(0) rotateY(0);
  }
  25% {
    transform: perspective(200px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(200px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(200px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(200px) rotateX(0) rotateY(360deg);
  }
}

.loading > div.loadingError {
  background-color: red;
}

.textAlert {
  animation: flash 1s ease-out;
}

@keyframes flash {
  0% {
    background-color: red;
    color: black;
  }
  100% {
    background-color: #e9ecef;
    color: #bbb;
  }
}

.postTop, .postBottom {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: .75rem;
  color: #bbb;
}

.postTop {
  margin-bottom: 10px;
}

.postId {
  text-decoration: none;
  color: #bbb;
}

.postLink {
  text-decoration: none;
}

.postId::after {
  content: ' ';
}

.dubs, .op {
  color: green;
}

.postText {
  white-space: pre-wrap;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.formTextarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #cdd;
  margin-bottom: 5px;
}

.formButtons {
  display: flex;
  justify-content: space-between;
}

.formMessageBox {
  color: #bbb;
  font-size: .75rem;
  vertical-align: middle;
  padding: 6px 0;
  transition: all ease-in-out .1s;
}